<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuic_5fXMI0nX2QA0GIwx0sDLlVL8t9hI</string>
	<key>GCM_SENDER_ID</key>
	<string>217407078393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mudoker.app.Prismm</string>
	<key>PROJECT_ID</key>
	<string>prismmchatfeature</string>
	<key>STORAGE_BUCKET</key>
	<string>prismmchatfeature.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217407078393:ios:ede31cf419688a4b170728</string>
</dict>
</plist>